---
layout: default
title: Blog
sort: 1
---

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>SBHX Blog</h2>
    </div>
</section>
<section id="main" class="wrapper style1">
    {% for post in site.posts %}
        <div class="wrapper {% cycle 'style1', 'style2' %}">
            <header class="major">
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <p class="post-meta">
                    {{ post.date | date: "%b %-d, %Y" }}
                    {% if post.author %} • {{ post.author }}{% endif %}
                    {% if post.meta %} • {{ post.meta }}{% endif %}
                    {% if post.categories.size > 0 %} • Category:
                        {% for category in post.categories %}
                            {{ category }}</a>{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                    {% endif %}
                </p>
            </header>
            <section class="container">
                {{ post.excerpt }}
            </section>
            <section class="special">
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}{{ post.url }}" class="button {% cycle '', 'alt'%}">Read More</a></li>
                </ul>
            </section>
        </div>
    {% endfor %}
</section>
