<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Contact Us</h3>
                        <ul class="actions">
                            <li>General Inquiries: info@sbhackerspace.com</li>
                        </br>
                            <li>Phone: (805) 242-2533</li>
                        </br>
                            <li>5782 Thornwood Drive</br> Goleta, CA</li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Hours of Operation </h3>
                        <h3>for non-members:</h3>
                        <ul class="actions">
                            <li>Monday - Friday: By appointment</li>
                            </br>
                            <li>Saturday: Open meeting 2:00 pm until midnight</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Charitable Contributions</h2>
                <p>Santa Barbara Hackerspace is a 501(c)(3) federally recognized non-profit. Donations are tax deductible in The United States except where prohibited by law.</p>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Santa Barbara Hackerspace</li>
            <li><a href="https://twitter.com/sbhackerspace" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/sbhackerspace/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        </ul>

        <ul class="copyright">
            <li><a href="{{ site.baseurl }}{% link terms-conditions.html %}">Terms and Conditions</a></li>
            <li><a href="{{ site.baseurl }}{% link privacy-policy.html %}">Privacy Policy</a></li>
            <li><a href="{{ site.baseurl }}{% link contact.html %}">Contact Us</a></li>
        </ul>
    </div>
</footer>
