<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="copyright">
            <li>&copy; Santa Barbara Hackerspace</li>
            <li><a href="https://twitter.com/sbhackerspace" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/sbhackerspace/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        </ul>

        <ul class="copyright">
            <li><a href="{{ site.baseurl }}{% link terms-conditions.html %}">Terms and Conditions</a></li>
            <li><a href="{{ site.baseurl }}{% link privacy-policy.html %}">Privacy Policy</a></li>
            <li><a href="{{ site.baseurl }}{% link contact.html %}">Contact Us</a></li>
        </ul>
    </div>
</footer>
